<header class="header">
  <h1>INSPIRIT</h1>
  <nav class="nav">
    <div class="nav-dropdown">
      <button class="dropdown button">
        <span style="font-size: 2em; color: black"
          ><i class="fas fa-spa"></i>
        </span>
      </button>
      <div class="dropdown-content">
        <p class="link" routerLink="/home">Home</p>
        <p class="link" routerLink="/stream">Community</p>
        <p class="link" routerLink="/about">About</p>
      </div>
    </div>
  </nav>
</header>
