.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 25vw;
  /* margin: 20px; */
  /* margin-bottom: 0; */
  background-color: #3c9dcd;
  background-image: url("/assets/images/Inspirit.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 3em;
  margin-left: 10vw;
  color: #fc7a1e;
  text-shadow: 0px 0px 22px #000230;
  font-family: "Merienda One", cursive;
}

.nav {
  overflow: hidden;
  font-family: Arial;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav link {
  float: left;
  font-size: 16em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .nav-dropdown {
  font-size: 10em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.nav link:hover,
.nav-dropdown:hover .dropdown {
  background-color: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content link {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content link:hover {
  background-color: none;
}

.nav-dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.link {
  padding: 5px;
  text-decoration: none;
  color: #fc7a1e;
  background-color: rgba(255, 255, 255, 0.5);

  margin: 0px;
}

.button {
  border: none;
  background-color: #020887;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
