<nav class="nav">
  <div class="nav-dropdown">
    <button class="dropdown button">
      <span class="menu"><i class="fas fa-bars"></i></span>
    </button>
    <div class="dropdown-content">
      <a class="link" routerLink="/home">Home</a>
      <a class="link" routerLink="/stream">The Atmosphere</a>
      <a class="link" routerLink="/saved">Your Saved</a>
      <a class="link" routerLink="/about">About</a>
    </div>
  </div>
</nav>
<header class="header">
  <h1 class="title">Inspirit</h1>
  <p>
    <span class="moon"><i class="fas fa-cloud-moon"></i></span>
  </p>
</header>
