.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.tips-button {
  width: 100%;
}

.list {
  display: none;
}

.youtube-button {
  width: 100%;
}

.video-player {
  display: none;
}
