.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  margin: 10px;
  border-radius: 10px;
  background-color: #a9dbb0;
  padding: 10px;
}

.quote {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.landscape {
  width: 100vw;
  margin-bottom: 5px;
  box-shadow: 1px 5px 10px 5px #363636;
  border-radius: 10px;
}

.tips-button {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  border-style: none;
  padding: 15px;
  color: white;
  background-color: #fc7a1e;
}

.recommendations-container {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  word-wrap: normal;
  padding: 10px;
}

.video-text {
  color: #fff;
  text-align: center;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.youtube-button {
  width: 100%;
}
.youtube-player {
  height: 480px;
  width: 854px;
}
@media only screen and (min-width: 768px) {
  .landscape {
    width: 75vw;
    margin-top: 10px;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: normal;
    margin: 20px 30px 20px 30px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 200px;
    margin-right: 80px;
    align-content: center;
  }

  .left-side {
    flex: 1;
    width: auto;
    align-content: center;
  }

  .greeting {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .whole-page {
    display: flex;
    justify-content: center;
  }

  .landscape {
    width: 35vw;
    transform: translateY(-15%);
    margin-top: 10px;
  }

  .img-container {
    margin: 0;
  }

  .result {
    margin-top: 100px;
    width: 100%;
    margin-left: 60px;
  }

  .quote {
    font-size: 1.5em;
    word-wrap: normal;
    overflow: hidden;
    width: 30vw;
    margin-bottom: 10px;
    transform: translateY(-30%);
  }

  .author {
    margin-bottom: 25px;
  }
}
