<app-header></app-header>

<h1 class="title">The Creators</h1>
<section class="creators row">
  <div class="demetri column">
    <img class="img" src="" alt="that Demetri guy" />
    <h2>Demetri Hubbard</h2>
    <p>Demetri pls write your own bio here</p>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
  </div>

  <div class="rachel column">
    <img class="img" src="" alt="that Rachel guy" />
    <h2>Rachel Ohler</h2>
    <p>Rachel pls write your own bio here</p>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
  </div>
</section>
<section class="row">
  <div class="cat column">
    <img class="img" src="/assets/images/catpic.jpg" alt="Cat Tremblay" />
    <h2>Cat Tremblay</h2>
    <p>
      Located in Grand Rapids, MI, Cat is a Front-End Developer with a focus on
      UI and UX design. Her favorite hobbies include travel, volunteer work, and
      running Dungeons & Dragons games for her friends. If you'd like to check
      out Cat's other work, her profiles are linked below.
    </p>
    <a href="https://github.com/tremblaycat">Github</a>
    <a href="https://www.linkedin.com/in/catherinejtremblay/">LinkedIn</a>
  </div>

  <div class="adrianna column">
    <img class="img" src="" alt="that Adrianna guy" />
    <h2>Adrianna Velazquez</h2>
    <p>Adrianna pls write your own bio here</p>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
  </div>
</section>
