<app-header></app-header>

<h1 class="title">OUR TEAM</h1>
<section class="creators row">
  <div class="demetri column">
    <img class="img" src="/assets/images/demetri.JPG" alt="that Demetri guy" />
    <h2 class="name">DEMETRI HUBBARD</h2>
    <p class="bio-text">
      Demetri is a Front-End Developer located in Novi, MI. Transitioning from a
      hardware technician to a software developer, Demetri is excited to explore
      the endless possibilities of software development. In his free time,
      Demetri enjoys cooking, playing video games, playing basketball, and
      bicycling. Links to Demetri’s other work and LinkedIn account are linked
      below.
    </p>
    <div class="icon-container">
      <a href="https://github.com/demetrinh"
        ><img
          src="/assets/images/github.jpg"
          alt="Demetri's github"
          class="icon"
      /></a>
      <a href="https://linkedin.com/in/demetrihubbard"
        ><img
          src="/assets/images/linkedin.png"
          alt="Demetri's's linkedin"
          class="icon"
      /></a>
    </div>
  </div>

  <div class="rachel column">
    <img class="img" src="/assets/images/headshot.jpg" alt="that Rachel guy" />
    <h2 class="name">RACHEL OHLER</h2>
    <p class="bio-text">
      Rachel is a Front-End Developer and art school grad living in Grand
      Rapids, MI. After traversing the world of service-based jobs, she's
      decided to divert her path back to her early interest in tech. In her free
      time she enjoys playing video games, costume making, dancing with friends,
      and travelling. Linked below you’ll find her GitHub and LinkedIn profiles.
    </p>
    <div class="icon-container">
      <a href="https://github.com/rohler11"
        ><img
          src="/assets/images/github.jpg"
          alt="Rachel's github"
          class="icon"
      /></a>
      <a href="https://www.linkedin.com/in/rachel-ohler/"
        ><img
          src="/assets/images/linkedin.png"
          alt="Rachel's linkedin"
          class="icon"
      /></a>
    </div>
  </div>
</section>
<section class="row">
  <div class="cat column">
    <img class="img" src="/assets/images/catpic.jpg" alt="Cat Tremblay" />
    <h2 class="name">CAT TREMBLAY</h2>
    <p class="bio-text">
      Located in Grand Rapids, MI, Cat is a Front-End Developer with a focus on
      UI and UX design. In her former role with Disney English in China, she
      helped to update and build new features for a childrens' language learning
      application. This experience inspired her to pursue a career in tech upon
      her return to the US. Her favorite hobbies include travel, volunteer work,
      and running Dungeons & Dragons games for her friends, and she hopes one
      day to be able to share her skills in coding with nonprofits in need of
      development. If you'd like to check out Cat's other work, her profiles are
      linked below.
    </p>
    <div class="icon-container">
      <a href="https://github.com/tremblaycat"
        ><img src="/assets/images/github.jpg" alt="Cat's github" class="icon"
      /></a>
      <a href="https://www.linkedin.com/in/catherinejtremblay/"
        ><img
          src="/assets/images/linkedin.png"
          alt="Cat's linkedin"
          class="icon"
      /></a>
    </div>
  </div>

  <div class="adrianna column">
    <img
      class="img"
      src="/assets/images/adrianna-headshot.jpeg"
      alt="that Adrianna guy"
    />
    <h2 class="name">ADRIANNA VELAZQUEZ</h2>
    <p class="bio-text">
      Adrianna is a Michigan native currently residing in Commerce Township. She
      previously worked as a Cross Brand Lead for GM brands on the content
      management team at MRM//McCann where she worked on several global site
      migrations such as Chevrolet Middle East, Cadillac Middle East, GMC
      Canada, ACDelco and GM Fleet among several others. Through her work as a
      cross brand lead working alongside several cross-functional teams such as
      program management, data, quality assurance and development teams she
      became interested in front-end development. Aside from work she enjoys
      traveling, photography and cooking. Out of her love for cooking she is
      currently writing a cookbook to capture all her favorite authentic Mexican
      recipes learned from her grandma who resides in Mexico.
    </p>
    <div class="icon-container">
      <a href="https://github.com/adrianna-velazquez/projects.git"
        ><img
          src="/assets/images/github.jpg"
          alt="Adrianna's github"
          class="icon"
      /></a>
      <a href="https://www.linkedin.com/in/adriannavelazquez/"
        ><img
          src="/assets/images/linkedin.png"
          alt="Adrianna's linkedin"
          class="icon"
      /></a>
    </div>
  </div>
</section>
