.title {
  text-align: center;
  margin: 25px;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
  margin-bottom: 20px;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  box-shadow: 1px 5px 10px 5px #172038;
  border-radius: 20px;
  justify-content: space-between;
}

.img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
}

.name {
  color: black;
  text-shadow: 1px 1px 4px #5a5a5a;
}

.bio-text {
  text-align: center;
  padding: 20px;
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .icon {
    width: 60px;
    height: 60px;
    margin: 10px;
  }

  .img {
    height: 400px;
    width: 400px;
  }
}
