.title {
  text-align: center;
  color: #fff;
}

.saved-container {
  display: flex;
  justify-content: center;
  background-color: seagreen;
}
.landscape {
  width: 100vw;
  margin-bottom: 5px;
  box-shadow: 1px 5px 10px 5px #363636;
}

.img-container {
  background-color: white;
  margin-bottom: 15px;
  text-align: center;
  /* padding: 10px; */
}

.quote {
  margin-top: 10px;
}

.author {
  margin-bottom: 10px;
}

.add {
  width: 100%;
  border-style: none;
  padding: 15px;
  color: white;
  background-color: #fc7a1e;
}

@media only screen and (min-width: 768px) {
  .stream-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }

  .landscape {
    width: 400px;
  }

  .img-container {
    width: 500px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 1px 5px 10px 5px #363636;
  }
}
@media only screen and (min-width: 1024px) {
  .stream-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }

  .landscape {
    width: 400px;
    height: 400px;
    margin: 15px;
    object-fit: cover;
  }

  .img-container {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 5px 10px 5px #172038;
  }

  .add {
    width: 100%;
    padding: 0px;
    color: #fc7a1e;
    background-color: transparent;
    position: relative;
    right: 0;
    top: 0;
    outline: 0;
  }

  .circle-add {
    font-size: 4em;
  }

  .add:focus {
    color: #a9dbb0;
  }
}
