<app-header></app-header>
<h2 class="title">OTHER INSPIRATIONS</h2>
<div class="stream-grid">
  <div
    class="img-container"
    *ngFor="let quote of quoteArray; let photo; of: photoArray; index as i"
  >
    <img
      class="landscape"
      src="{{ photoArray[0][i]?.urls.full }}"
      alt="landscape"
    />
    <p class="quote">"{{ quoteArray[i].quote }}"</p>
    <p class="author">-{{ quoteArray[i].author }}</p>
    <button class="add" (click)="save(photoArray[0][i], quoteArray[i])">
      <span class="circle-add"><i class="fas fa-plus-circle"></i></span>
    </button>
  </div>
</div>
