<app-header></app-header>
<p *ngIf="saved.length === 0" class="title">
  You haven't saved any inspiration yet!
</p>
<div class="stream-grid">
  <div class="img-container" *ngFor="let save of saved; index as i">
    <img class="landscape" src="{{ save.photo?.urls.full }}" alt="landscape" />
    <p class="quote">"{{ save.quote.quote }}"</p>
    <p class="author">-{{ save.quote.author }}</p>
    <button class="delete-button" (click)="deleteSaved(i)">
      <span class="delete-circle"><i class="fas fa-times-circle"></i></span>
    </button>
  </div>
</div>
