/* You can add global styles to this file, and also import other style files */
body,
h1,
button {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #3c9dcd;
  background-image: url("/assets/images/Inspirit.png");
  background-repeat: no-repeat;
  background-size: cover;
}
