/* You can add global styles to this file, and also import other style files */
body,
h1,
button,
main,
header,
section,
p {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: linear-gradient(#020887, #3c9dcd);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.stars {
  background-image: url("/assets/images/InspiritStars.png");
}
