<app-header></app-header>

<form #feelingsForm="ngForm">
  <label for="username">What's your name?</label>
  <input type="text" name="username" id="username" />
</form>

<p>How are you feeling? (Choose 3)</p>
<button class="happy" value="happy">Happy</button>
<button class="sad" value="sad">Sad</button>
<button class="excited" value="excited">Excited</button>
<button class="angry" value="angry">Angry</button>
<button class="hopeful" value="hopeful">Hopeful</button>
<button class="anxious" value="anxious">Anxious</button>
<button class="cheerful" value="cheerful">Cheerful</button>
<button class="nostalgic" value="nostalgic">Nostalgic</button>
<button class="creative" value="creative">Creative</button>
<button class="depressed" value="depressed">Depressed</button>
<button class="adventurous" value="adventurous">Adventurous</button>
<button class="confused" value="confused">Confused</button>
<button class="heartbroken" value="heartbroken">Heartbroken</button>
<button class="remorseful" value="remorseful">Remorseful</button>
<button class="guilty" value="guilty">Guilty</button>
<button class="spiteful" value="spiteful">Spiteful</button>
<button class="passionate" value="passionate">Passionate</button>
<button class="joyful" value="joyful">Joyful</button>
<button class="peaceful" value="peaceful">Peaceful</button>
<button class="worried" value="worried">Worried</button>
<button class="calm" value="calm">Calm</button>
<button class="discouraged" value="discouraged">Discouraged</button>
<button class="jealous" value="jealous">Jealous</button>
<button class="confident" value="confident">Confident</button>
<button class="comfortable" value="comfortable">Comfortable</button>
<button class="thankful" value="thankful">Thankful</button>
<button class="dull" value="dull">Dull</button>
<button class="proud" value="proud">Proud</button>
<button class="overwhelmed" value="overwhelmed">Overwhelmed</button>
<button class="insignificant" value="insignificant">Insignificant</button>
<button class="disconnected" value="disconnected">Disconnected</button>
<button class="humble" value="humble">Humble</button>
<button class="petty" value="petty">Petty</button>
<button class="spiritual" value="spiritual">Spiritual</button>
<button class="inspired" value="inspired">Inspired</button>
