<app-header></app-header>

<main class="main">
  <section class="home">
    <form class="name-mobile">
      <label class="whats-your-name" placeholder="Your Name Here" for="username"
        >What's your name?</label
      >
      <input
        class="name-input"
        type="text"
        name="username"
        id="username"
        [(ngModel)]="name"
      />
    </form>
    <!--  -->
    <div class="feelings-tracker">
      <p class="how-are-you">How are you feeling? (Choose 3)</p>
      <div class="btn-container">
        <button
          *ngFor="let adjective of adjectives"
          class="{{ adjective }} glow-on-hover"
          (click)="addFeeling(adjective)"
          [disabled]="feelingsArray.length === 3"
        >
          {{ adjective }}
        </button>
      </div>
    </div>
    <!--  -->
    <div class="results-button">
      <button class="results-btn-mobile" (click)="getResults()">
        Get Your Results!
      </button>
    </div>
  </section>
</main>
